trunk/OrderWineBottles2ndPhase/bpelContent/WineQuantityPairArrayType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://imse.uoc.gr/WineQuantityPairType" xmlns:tns="http://imse.uoc.gr/WineQuantityPairType" elementFormDefault="qualified">

    <complexType name="WineQuantityPairType">
    	<sequence maxOccurs="unbounded" minOccurs="0">
    		<element name="wineId" type="int"></element>
    		<element name="quantity" type="int"></element>
    	</sequence>
    </complexType>

    <element name="wineQuantityPairs" type="tns:WineQuantityPairType"></element>
</schema>