WineProWsWarehouseInventoryReserve/resources/WineProWsWarehouseInventoryCheck.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck">
    <complexType name="WineQuantityPairType">
        <sequence maxOccurs="unbounded">
            <element name="wineId" type="int"/>
            <element name="quantity" type="int"/>
        </sequence>
    </complexType>
    <element name="wineQuantityPairs" type="tns:WineQuantityPairType"/>
</schema>
