trunk/WineProWsWineList/WebContent/WEB-INF/services/WineProWsWineList/META-INF/WineListRequestor.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://imse.uoc.gr/WineListRequestor" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://imse.uoc.gr/WineListRequestor">
    <element name="wineArray" type="tns:WineType"/>
    <complexType name="WineType">
        <sequence maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int"/>
            <element name="name" type="string"/>
            <element name="productionDate" type="date"/>
            <element name="type" type="string"/>
            <element name="price" type="decimal"/>
            <element name="weight" type="float"/>
            <element name="imageUrl" type="string"/>
        </sequence>
    </complexType>
</schema>
