trunk/WineProWsWarehouseInventoryReserve/resources/WineProWsWarehouseInventoryReserve.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WineProWsWarehouseInventoryReserve" targetNamespace="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve/" xmlns:Q1="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve">
            <xsd:import namespace="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve" schemaLocation="WineProWsWarehouseInventoryReserve.xsd"/>
            <xsd:element name="warehouseInventoryReserve">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="wineQuantityPairs" type="Q1:WineQuantityPairType"/>
          	<xsd:element name="warehouseCity" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warehouseInventoryReserveResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="message" type="xsd:string"/>
          	<xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="warehouseInventoryReserveRequest">
    <wsdl:part name="parameters" element="tns:warehouseInventoryReserve">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="warehouseInventoryReserveResponse">
    <wsdl:part name="parameters" element="tns:warehouseInventoryReserveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WineProWsWarehouseInventoryReserve">
    <wsdl:operation name="warehouseInventoryReserve">
      <wsdl:input message="tns:warehouseInventoryReserveRequest">
    </wsdl:input>
      <wsdl:output message="tns:warehouseInventoryReserveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WineProWsWarehouseInventoryReserveSOAP" type="tns:WineProWsWarehouseInventoryReserve">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="warehouseInventoryReserve">
      <soap:operation soapAction="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve/warehouseInventoryReserve"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WineProWsWarehouseInventoryReserve">
    <wsdl:port name="WineProWsWarehouseInventoryReserveSOAP" binding="tns:WineProWsWarehouseInventoryReserveSOAP">
      <soap:address location="http://localhost:9080/WineProWsWarehouseInventoryReserve/services/WineProWsWarehouseInventoryReserve"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
