WineProApproveInvoiceBPEL/bpelContent/winePriceWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://imse.uoc.gr/winePriceWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="winePriceWSDLFile" targetNamespace="http://imse.uoc.gr/winePriceWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://imse.uoc.gr/winePriceWSDLFile/" xmlns:Q1="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve">
            <xsd:import schemaLocation="WineProWsWarehouseInventoryReserve.xsd" namespace="http://imse.uoc.gr/WineProWsWarehouseInventoryReserve"></xsd:import>
            <xsd:element name="getTotalPriceOfGoods">
        <xsd:complexType>
          <xsd:sequence>


          	<xsd:element name="WineQuantiyPair" type="Q1:WineQuantityPairType"></xsd:element>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTotalPriceOfGoodsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TotalPriceOfGoods" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTotalPriceOfGoodsRequest">
    <wsdl:part element="tns:getTotalPriceOfGoods" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTotalPriceOfGoodsResponse">
    <wsdl:part element="tns:getTotalPriceOfGoodsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="winePriceWSDLFile">
    <wsdl:operation name="getTotalPriceOfGoods">
      <wsdl:input message="tns:getTotalPriceOfGoodsRequest"/>
      <wsdl:output message="tns:getTotalPriceOfGoodsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="winePriceWSDLFileSOAP" type="tns:winePriceWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTotalPriceOfGoods">
      <soap:operation soapAction="http://imse.uoc.gr/winePriceWSDLFile/getTotalPriceOfGoods"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="winePriceWSDLFile">
    <wsdl:port binding="tns:winePriceWSDLFileSOAP" name="winePriceWSDLFileSOAP">
      <soap:address location="http://localhost:9080/WineProWsWinePrice/services/WineProWsWinePrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
