trunk/WineProWineOrderBPEL/bpelContent/WineProWsWarehouseInventoryCheck.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WineProWsWarehouseInventoryCheck" targetNamespace="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck/" xmlns:Q1="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck">
            <xsd:import schemaLocation="WineProWsWarehouseInventoryCheck.xsd" namespace="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck"></xsd:import>
            <xsd:element name="warehouseInventoryCheck">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="wineQuantityPairs" type="Q1:WineQuantityPairType" />
          	<xsd:element name="warehouseCity" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warehouseInventoryCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="message" type="xsd:string" />
          	<xsd:element name="satisfiable" type="xsd:boolean"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="warehouseInventoryCheckRequest">
    <wsdl:part element="tns:warehouseInventoryCheck" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="warehouseInventoryCheckResponse">
    <wsdl:part element="tns:warehouseInventoryCheckResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WineProWsWarehouseInventoryCheck">
    <wsdl:operation name="warehouseInventoryCheck">
      <wsdl:input message="tns:warehouseInventoryCheckRequest"/>
      <wsdl:output message="tns:warehouseInventoryCheckResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WineProWsWarehouseInventoryCheckSOAP" type="tns:WineProWsWarehouseInventoryCheck">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="warehouseInventoryCheck">
      <soap:operation soapAction="http://imse.uoc.gr/WineProWsWarehouseInventoryCheck/warehouseInventoryCheck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WineProWsWarehouseInventoryCheck">
    <wsdl:port binding="tns:WineProWsWarehouseInventoryCheckSOAP" name="WineProWsWarehouseInventoryCheckSOAP">
      <soap:address location="http://localhost:9080/WineProWsWarehouseInventoryCheck/services/WineProWsWarehouseInventoryCheck"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
