TransportationAWs/WebContent/wsdl/TransportationA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://imse.uoc.gr/TransportationA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransportationA" targetNamespace="http://imse.uoc.gr/TransportationA/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://imse.uoc.gr/TransportationA/">
      <xsd:element name="getTransportationCost">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="warehouseCity" type="xsd:string" />
          	<xsd:element name="destinationCity" type="xsd:string"></xsd:element>
          	<xsd:element name="totalVolume" type="xsd:decimal"></xsd:element>
          	<xsd:element name="totalWeight" type="xsd:decimal"></xsd:element>
          	<xsd:element name="urgentDelivery" type="xsd:boolean"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTransportationCostResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="transportationCost" type="xsd:decimal" />
          	<xsd:element name="expectedDateOfDelivery" type="xsd:date"></xsd:element>
          	<xsd:element name="token" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkStatusOfDelivery">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="token" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="checkStatusOfDeliveryResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="status" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTransportationCostRequest">
    <wsdl:part element="tns:getTransportationCost" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTransportationCostResponse">
    <wsdl:part element="tns:getTransportationCostResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkStatusOfDeliveryRequest">
  	<wsdl:part name="parameters" element="tns:checkStatusOfDelivery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkStatusOfDeliveryResponse">
  	<wsdl:part name="parameters" element="tns:checkStatusOfDeliveryResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TransportationA">
    <wsdl:operation name="getTransportationCost">
      <wsdl:input message="tns:getTransportationCostRequest"/>
      <wsdl:output message="tns:getTransportationCostResponse"/>
    </wsdl:operation>
    <wsdl:operation name="checkStatusOfDelivery">
    	<wsdl:input message="tns:checkStatusOfDeliveryRequest"></wsdl:input>
    	<wsdl:output message="tns:checkStatusOfDeliveryResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransportationASOAP" type="tns:TransportationA">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getTransportationCost">

  		<soap:operation soapAction="http://imse.uoc.gr/TransportationA/getTransportationCost" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="checkStatusOfDelivery">
  		<soap:operation soapAction="http://imse.uoc.gr/TransportationA/checkStatusOfDelivery" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportationA">
    <wsdl:port binding="tns:TransportationASOAP" name="TransportationASOAP">
      <soap:address location="http://localhost:9080/TransportationAWs/services/TransportationAWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
