trunk/WineProWsWineList/resources/WineProWsWineList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WineProWsWineList" targetNamespace="http://imse.uoc.gr/WineProWsWineList/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://imse.uoc.gr/WineProWsWineList/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://imse.uoc.gr/WineProWsWineList/" xmlns:Q1="http://imse.uoc.gr/WineListRequestor">
            <xsd:import namespace="http://imse.uoc.gr/WineListRequestor" schemaLocation="WineListRequestor.xsd"/>
            <xsd:element name="listAllWines">
        <xsd:complexType>
          <xsd:sequence>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listAllWinesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wineArray" type="Q1:WineType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listAllWinesInBetween">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="firstResult" type="xsd:int"/>
      			<xsd:element name="maxResults" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="listAllWinesInBetweenResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="wineArray" type="Q1:WineType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listAllWinesRequest">
    <wsdl:part name="parameters" element="tns:listAllWines">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllWinesInBetweenResponse">
    <wsdl:part name="parameters" element="tns:listAllWinesInBetweenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllWinesInBetweenRequest">
    <wsdl:part name="parameters" element="tns:listAllWinesInBetween">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllWinesResponse">
    <wsdl:part name="parameters" element="tns:listAllWinesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WineProWsWineList">
    <wsdl:operation name="listAllWines">
      <wsdl:input message="tns:listAllWinesRequest">
    </wsdl:input>
      <wsdl:output message="tns:listAllWinesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAllWinesInBetween">
      <wsdl:input message="tns:listAllWinesInBetweenRequest">
    </wsdl:input>
      <wsdl:output message="tns:listAllWinesInBetweenResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WineProWsWineListSOAP" type="tns:WineProWsWineList">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listAllWines">
      <soap:operation soapAction="http://imse.uoc.gr/WineProWsWineList/listAllWines"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAllWinesInBetween">
      <soap:operation soapAction="http://imse.uoc.gr/WineProWsWineList/listAllWinesInBetween"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WineProWsWineList">
    <wsdl:port name="WineProWsWineListSOAP" binding="tns:WineProWsWineListSOAP">
      <soap:address location="http://localhost:9080/WineProWsWineList/services/WineList"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
