TransportationAWs/WebContent/WEB-INF/services/Transportation/META-INF/Transportation_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.winepro.imse.uoc/Transportation_Schema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.winepro.imse.uoc/Transportation_Schema">
    <complexType name="getCostRequest">
        <sequence>
            <element name="Sender_Address" type="string"/>
            <element name="Delivery_Address" type="string"/>
            <element name="Quantity" type="double"/>
            <element name="delivery_mode" type="string"/>
        </sequence>
    </complexType>
    <complexType name="getCostResponse">
        <sequence>
            <element name="delivery_price" type="double"/>
            <element name="delivery_time" type="int"/>
        </sequence>
    </complexType>
    <complexType name="deliverGrapesRequest">
        <sequence>
            <element name="Order_Id" type="string"/>
            <element name="Grapes_Variety" type="string"/>
            <element name="Sender_Address" type="string"/>
            <element name="Wine_Company" type="string"/>
            <element name="Delivery_Address" type="string"/>
            <element name="Quantity" type="double"/>
            <element name="Delivery_Mode" type="string"/>
        </sequence>
    </complexType>
    <complexType name="deliverGrapesResponse">
        <sequence>
            <element name="Order_Id" type="string"/>
            <element name="Confirmation" type="boolean"/>
            <element name="Delivery_Date" type="date"/>
        </sequence>
    </complexType>
    <complexType name="getDeliveryStatusRequest">
        <sequence>
            <element name="Order_Id" type="string"/>
        </sequence>
    </complexType>
    <complexType name="getDeliveryStatusResponse">
        <sequence>
            <element name="Order_Id" type="string"/>
            <element name="Status_Delivery" type="string"/>
            <element name="Delivery_Date" type="date"/>
            <element name="Wine_Company" type="string"/>
            <element name="Quantity" type="boolean"/>
            <element name="Grapes_Variety" type="string"/>
        </sequence>
    </complexType>
    <element name="deliverGrapesRequestElement" type="tns:deliverGrapesRequest"/>
    <element name="deliverGrapesResponseElement" type="tns:deliverGrapesResponse"/>
    <element name="getCostRequestElement" type="tns:getCostRequest"/>
    <element name="getCostResponseElement" type="tns:getCostResponse"/>
    <element name="getDeliveryStatusRequestElement" type="tns:getDeliveryStatusRequest"/>
    <element name="getDeliveryStatusResponseElement" type="tns:getDeliveryStatusResponse"/>
</schema>
